
<div class="row">
    <div class="col-3">
        <div style="background-color: teal; border-radius: 6px; padding-bottom: 10px; margin-bottom: 50px; margin-top: 20px;">
            <p style="color: white; padding: 4px; font-weight: 100; font: inherit; padding : 10px"><b>Search your Medicines here</b></p>
            <input class="mr-sm-2" type="search" placeholder="Search" width="200%" aria-label="Search" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>

    <div class="col">
        <div class="sticky-top">
            <div class="list-group list-group-horizontal" style="margin-top: 20px;">
                <a  class="list-group-item list-group-item-action" routerLink="/" [class.active]="!category$">All Category</a>
                <a *ngFor="let c of categorie$" class="list-group-item list-group-item-action" routerLink="/" [queryParams]="{category : c.key}" [class.active]="category$ === c.key">
                    {{c.payload.val().name}}
                </a>
            </div>
        </div>
    </div>

</div>




<div class="row">
    <div class="col">
            <div class="row">
                <ng-container *ngFor= "let p of  filteredproducts ; let i =index" >
                    <div class="col">
                        <div *ngIf ="p.payload.val().title" class="card" style="width: 15rem;">
                            <img [src]="p.payload.val().imageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">{{p.payload.val().title}}</h5>
                            <p class="card-text">{{p.payload.val().price | currency : 'INR' : true}}</p>
                            </div>
                            <div class="card-footer">
                            <button *ngIf = "getQuantity(p) === 0; else updateQuantity" (click) = "addtocart(p)" class="btn btn-secondary btn-block" style="background-color: teal;">Add to Cart</button>
                            </div>
                            <ng-template #updateQuantity>
                                <div class="row no-gutters">
                                  <div class="col-2">
                                    <button (click) = "removeFromCart(p)" class="btn btn-secondary btn-block">-</button>
                                  </div>
                                  <div class="col text-center">
                                    {{ getQuantity(p)}} In Cart
                                  </div>
                                  <div class="col-2">
                                    <button (click) = "addtocart(p)" class="btn btn-secondary btn-block">+</button>
                                  </div>
                                </div>
                              </ng-template>
            

                        </div>
                    </div>    
                    <div *ngIf="(i+1) % 3 === 0" class="w-100"></div>
                </ng-container>
            </div>
    </div>
</div>




