<p><input type="text" #query (keyup)=filter(query.value) class="form-control" placeholder="Search"></p>

<p><a routerLink="/admin/manageproducts/new" class="btn btn-primary">New Product</a></p>




<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredproducts" >
            <td>{{p.payload.val().title}}</td>
            <td>{{p.payload.val().price}}</td>
            <td>
                <a [routerLink]="['/admin/manageproducts' , p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
